<!DOCTYPE html>
<html xmlns:thl="http://www.thymeleaf.org/" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">

</head>
<body>
<div th:replace="fragments :: page-header"></div>
<form method="post" style="max-width :300px;" th:object="${time}">
    <div class="form-group">
        <label th:for="amount">Amount</label>
        <input class="form-control" th:field="*{amount}" />
        <span th:errors="*{amount}" class="error"></span>
    </div>
    <input type="submit" value="Add time" />
</form>
<table class="table">
    <tr>
        <th>Amount</th>
    </tr>
    <tr th:each="time:${times}">
        <td th:text="${time.amount}"></td>
    </tr>
</table>

<!--<div class="container body-content">-->
    <!--<h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->
    <!--<p> Good news, you have more time!</p>-->
<!--</div>-->
</body>
</html>