<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments:: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<!--<p th:unless="${time} and ${time.size()}">no time</p>-->
<table class="table">
    <tr>
        <th>Name</th>
        <th>Time</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.time}"></td>
    </tr>
</table>
<form method="post" style="max-width:600px;" th:object="${time}">
    <div class="form-group">
        <label th:for="amount">Time Amount</label>
        <input class="form-control" th:field="*{amount}" />
        <span th:errors="*{amount}" class="error"></span>
    </div>
    <input type="submit" value="Add Time"/>
</form>
<!--<form th:action="@{/login}" method="post">-->
    <!--<div><label> Five <input type="int" name="five"/> </label></div>-->
    <!--<div><label> Ten <input type="int" name="ten"/> </label></div>-->
    <!--<div><lable> 15 <input type="int" name="fifteen"/></lable></div>-->
    <!--<div><input type="submit" value="Add up"/></div>-->

<a href="login">Login</a>

</body>
</html>