<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <title th:text="'Screen Time'+ ${title == null ? '' : ' :: ' + title}">Screen Time</title>
</head>
<body>
    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">ScreenTimer</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/time/add}">Add Time</a></li>
                    <li><a th:href="@{/subtract}">Subtract Time</a></li>
                    <!--<li><a th:href="@{/shutDown}">Shut Down</a></li>-->
                    <li><a th:href="@{/start}">Start Timer</a></li>
                    <li><a th:href="@{/end}">Stop Timer</a></li>
                    <li><a th:href="@{/total}">Total Time</a></li>

                </ul>
            </div>
        </div>
    </div>

</body>
</html>