<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
    <div th:replace="fragments :: page-header"></div>
    <div class="container body-content">
        <!--<p>Manage time</p>-->
        <!--<p>Click <a th:href="@{/add}"> here </a> to see a greeting. </p>-->
    </div>
    <table class="table">
        <p>
            <th>Name</th>
            <th>Time</th>
        </p>
        <!--<tr th:each="user: ${users}">-->
            <!--<td th:text="${user.name}"></td>-->
            <!--<td th:text="${user.time}"></td>-->
        <!--</tr>-->
        <tr th:each="amount:${amounts}">
            <li th:text="${time.amount}"></li>
        </tr>
    </table>
    <form method="post" style="max-width:600px;" th:object="${time}">
        <div class="form-group">
            <label th:for="amount">Category Name</label>
            <input class="form-control" th:field="*{amount}" />
            <span th:errors="*{amount}" class="error"></span>
        </div>
        <input type="submit" value="Enter"/>
    </form>
    <!--<form method="post" >-->
          <!--&lt;!&ndash;style="max-width:600px;" th:object="${time}"&ndash;&gt;-->
        <!--<div class="form-group">-->
            <!--<label th:for="amount">Amount</label>-->
            <!--<select name="timeId">-->
                <!--<option th:each="amount: ${amounts}"-->
                        <!--th:text="${time.amount}"-->
                        <!--th:value="${time}"></option>-->
            <!--</select>-->
            <!--<input type="submit" value="ADD"/>-->
            <!--<input type="submit" value="SUBTRACT"/>-->

        <!--</div>-->
    <!--</form>-->
<!--<a href="/time/add">Add Time</a>-->
    <!--<a href="/time/subtract">Subtract Time</a>-->
    <form th:action="@{/logout}" method="post">
        <input type ="submit" value="Sign Out"/>
    </form>
</body>
</html>