<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class = "container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--<form method="post">-->

    <!--<div th:each="time : ${times}" class="radio">-->
        <!--<input name= "subtract" type="radio" th:field="*{user.id}" />-->
        <!--<label th:for="subtract"></label>-->

        <!--<br />-->
    <!--</div>-->
    <!--&lt;!&ndash;<label th:for="${timeAmount.id}" th:thext="${timeAmount.name}"></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="timeAmount">Time spent:</label>&ndash;&gt;-->
    <!--<select>-->
        <!--<option th:field="${timeAmounts}"></option>-->
        <!--// keep thyme leaf in-->
    <!--</select>-->

<form method="post" style="max-width:600px;" th:object="${form}" action="/subtract/add-item">

    <div class="form-group">
        <select name="timeId">
            <option th:each="time  : *{times}"
                    th:text="${time.name}"
                    th:value="${time.id}">
                <span th:errors="*{timeId}" class="error"></span>


            </option>
        </select>
    </div>


    <input type="submit" value="Subtract time" />

</form>
</body>
</html>