<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class = "container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--<form method="post">-->

    <!--<div th:each="time : ${times}" class="radio">-->
        <!--<input name= "subtract" type="radio" th:field="*{user.id}" />-->
        <!--<label th:for="subtract"></label>-->

        <!--<br />-->
    <!--</div>-->
    <!--&lt;!&ndash;<label th:for="${timeAmount.id}" th:thext="${timeAmount.name}"></label>&ndash;&gt;-->
    <!--&lt;!&ndash;<label for="timeAmount">Time spent:</label>&ndash;&gt;-->
    <!--<select>-->
        <!--<option th:field="${timeAmounts}"></option>-->
        <!--// keep thyme leaf in-->
    <!--</select>-->

    <input type="submit" value="Subtract time" />


</body>
</html>